# ==============================================================================
# Файлы операционных систем (ОС)
# ==============================================================================
.DS_Store
.localized
Thumbs.db
desktop.ini

# ==============================================================================
# Виртуальное окружение
# ==============================================================================
# Стандартные имена папок для виртуальных окружений
venv/
env/
.venv/
*/venv/
*/env/

# Файлы, специфичные для conda (если вы используете Anaconda/Miniconda)
.conda/
.ipynb_checkpoints/

# ==============================================================================
# Зависимости и сборка
# ==============================================================================
# Папки, создаваемые сборщиками
build/
dist/
*.egg-info/
.eggs/

# Файлы, создаваемые pip
pip-log.txt
pip-delete-this-file.txt
htmlcov/  # Для отчетов о покрытии

# ==============================================================================
# Кэш и скомпилированные файлы
# ==============================================================================
# Python bytecode
*.pyc
__pycache__/
*.$py.class

# IDE / Редакторы
.vscode/        # Папка настроек VS Code
.idea/          # Папка настроек IntelliJ/PyCharm
*.iml           # Файлы настроек PyCharm
*.swp           # Файлы свопа Vim

# ==============================================================================
# Тестирование и отладка
# ==============================================================================
.pytest_cache/
.coverage

# ==============================================================================
# Файлы данных, секреты
# ==============================================================================
# Не храните конфиденциальные данные в Git!
*.log
*.sqlite3
*.db
settings_local.py